.navbarexpandlg{
    font-size: 18px;
}

.nevbar-logo{
    margin-left: 20px;
    font-size: 28px;
    font-family: initial;
    color: #ff9d01;
    margin-right: 30px;
}

.nevbar-logo i{
    color: #4761C2 ;
}

.nevbar-logo:hover{
    color: #d58300;
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.dropdown-style{
    background-color: #ffffff;
    margin-top: 1000px;
    width: 1000px;
    top: 500 !important;
    height: 500px;
    
}

.dropdown-interior{
    background-color: #ff9d01;
}