.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    /* @media (min-width: 400px) {
    .h-custom-2 {
    height: 100%;
    }
    } */

.loginblockleft{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.logsign-logo{
    margin-left: 80px;
    font-size: 28px;
    font-family: initial;
    color: #ff9d01;
    margin-bottom: 20px;
}

.logsign-logo i{
    color: #4761C2 ;
}

